{% extends 'base.html' %}
{% block content %}
    <img src="static/images/burger-title.png" alt="burger item" class="block_main">
    <ul class="under_block">
        <li class="left"><h3>American cheese</h3>
            <p>$15 <span class="category-title">Burger</span></p>
        </li>
        <li class="plus">
            <a href="#">+</a>
        </li>
    </ul>

{% endblock %}

{% block content_2 %}
    <img src="static/images/pizza-title.png" alt="pizza item" class="block_main">
    <ul class="under_block">
        <li class="left"><h3>Four season</h3>
            <p>$23 <span class="category-title">Pizza</span></p>
        </li>
        <li class="plus">
            <a href="#">+</a>
        </li>
    </ul>
{% endblock %}