<nav>


    <p><img src="static/images/category.png" alt = "category" class = "category_icon">Categories</p>
    <ul class="nav_layout">
        <li>
            <figure>
                <a href=#><img src="static/images/burger.png" alt="burgers"></a>
                <figcaption>Burger</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <a href=#><img src="static/images/pizza.png" alt="pizza"></a>
                <figcaption>Pizza</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <a href=#><img src="static/images/drinks.png" alt="drink"></a>
                <figcaption>Drinks</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <a href=#><img src="static/images/icecream.png" alt="Dessert"></a>
                <figcaption>Dessert</figcaption>

            </figure>
        </li>

    </ul>
</nav>